<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="miniclock.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="miniclock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <miniclock.Properties.Settings1>
            <setting name="position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fore_color" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="bg_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>50</value>
            </setting>
        </miniclock.Properties.Settings1>
        <miniclock.Properties.Settings>
            <setting name="position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fore_color" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="bg_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>50</value>
            </setting>
        </miniclock.Properties.Settings>
    </userSettings>
</configuration>